<!-- begin c-hero -->
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col col-6 col-t-12 last-item">
                <div class="hero__content">
                    <h1 class="hero__title">Art by <strong>LuLiBoga</strong></h1>
                    <p class="hero__subtitle">Custom artwork by a seven year-old artist. My medium of choice is Procreate.</p>
                    <div class="hero__social">
                        <span class="hero__social-title">Find My Art |</span>
                        <div class="contact">
                            <ul class="contact__list list-reset">
                                <li><a href="https://opensea.io/collection/luliboga" target="_blank" rel="noopener noreferrer"><i class="ion ion-ios-water"></i> OpenSea</a></li>
                                <!-- <li><a href="https://foundation.app/@BoGa" target="_blank" rel="noopener noreferrer"><i class="ion ion-ios-globe"></i> withFND</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-6 col-t-12">
                <div class="hero__image">
                    <img src="{{site.baseurl}}/images/luliboga-box.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero -->